/* src/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Adjusted to a more reasonable width */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5em; /* Improved readability */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold; /* Improved visual hierarchy */
}

input, select {
    width: 100%; /* Full width of the form */
    max-width: 300px; /* Limit width of input fields */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em; /* Better readability */
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em; /* Consistent text size */
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 15px;
    font-size: 0.9em; /* Slightly smaller text for error messages */
}
